.container{
    background-color:azure;
}
.ed-grid{
    background-color: darkolivegreen;
    
}
.nav{
    background-color: brown;
}
.logo{
    background-color: chartreuse;
}
.info{
    background-color: darkcyan;
}
.login{
    background-color: darkmagenta;
}